.sidebarItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  color: var(----secondary-text);
  cursor: pointer;
  border-radius: var(--border-radius-md);

  svg {
    width: 1.25rem;
  }

  &:hover {
    background-color: var(--container-color);
    color: var(--primary-text);
  }

  &.isActive {
    color: var(--primary-text);
    background-color: var(--accent-color);
  }
}
