.header {
  display: flex;
  width: auto;
  height: 48px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--container-color);

  svg {
    width: 28px;
  }
}

.info {
  padding-inline: 16px 0;

  & > h1 {
    color: var(--primary-text);
  }

  & > p {
    color: var(--secondary-text);
  }
}
