#about {
  background-color: var(--clr-neutral200);
  height: 91svh;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-inline: 20px;
  height: 100%;
}

.about__title {
  font-size: var(--text-4xl);
  margin: 30px 0;
  color: var(--clr-default);
}

.about__title span {
  color: var(--clr-gym);
}

.about__description {
  align-self: flex-start;
}

.about__details {
  max-width: 60ch;
  font-size: var(--text-lg);
  color: var(--clr-gray400);
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 50px;
}

.about__video {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
}

.about__video iframe {
  width: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
  .about__details {
    max-width: 50ch;
    font-size: var(--text-base);
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .about__title {
    font-size: var(--text-3xl);
    margin: 0px;
  }
}

/* xl */
/* @media (max-width: 1280px) {
} */

/* lg */
@media (max-width: 1024px) {
  .about .container {
    flex-direction: column;
    gap: 30px;
  }

  .about__details {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }

  .about__video {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }

  .about__description {
    width: 100%;
    text-align: center;
  }

  .about__title {
    font-size: var(--text-2xl);
    margin: 0px;
  }
  .about__description {
    font-size: var(--text-base);
  }
  .about .container {
    padding-top: 25spx;
    flex-direction: column;
    gap: 50px;
  }
  .about__video {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
  }

  #about {
    background-color: var(--clr-neutral200);
    height: auto;
  }
}

/* md */
@media (max-width: 768px) {
  .about__description {
    text-align: center;
  }

  .about__title {
    font-size: var(--text-2xl);
    margin: 0px;
  }
  .about__description {
    font-size: var(--text-base);
  }
  .about .container {
    padding-top: 25px;
    flex-direction: column;
  }
  .about__video {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
}

/* sm */
/* @media (max-width: 640px) {
} */

/* xs */
/* @media (max-width: 475px) {
} */
