.FormInput input {
  padding: 8px 12px;
  margin: 10px 0px;
  border-radius: 5px;
  outline: 1px solid var(--bg-color);
  background-color: inherit;
  border: none;
  color: var(--clr-default);
  font-weight: 500;
}

.FormInput label {
  font-size: var(--text-sm);
  color: var(--clr-primary);
}

.FormInput span {
  font-size: var(--text-xs);
  padding: 3px;
  display: none;
  color: rgb(255, 0, 0);
}

.FormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormInput input:invalid[focused='true'] ~ span {
  display: block;
}

.FormInput input:invalid[focused='true'] {
  outline: 1px solid red;
}
