.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main';
  height: 100vh;
}

.main {
  grid-area: main;
  padding: 60px;
}
