*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

.dark-mode {
  --bg-color: #030712;
  --header-color: #040916;
  --sidebar-color: #111827;
  --clr-default: #f3f4f6;
  --clr-neutral200: #111827;
  --clr-neutral300: #040916;
  --clr-neutral400: #6b7280;
  --clr-neutral500: #4b5563;
  --clr-neutral600: #374151;
  --clr-neutral700: #1f2937;
  --header-shadow: 0 2px 10px 1px #111827;
  --clr-wrapper: #040916;
}

:root {
  /* colors */
  --bg-color: #f5f5f5;
  --clr-neutral200: #e5e5e5;
  --clr-neutral300: #d4d4d4;
  --clr-neutral400: #a3a3a3;
  --clr-neutral500: #737373;
  --clr-neutral600: #525252;
  --clr-neutral700: #404040;
  --clr-neutral800: #262626;
  --clr-neutral900: #171717;
  --clr-default: #0a0a0a;
  --clr-gym: #ca8a04;
  --clr-wrapper: rgb(202, 138, 4, 0.1);

  /* Box Shadows */
  --header-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.5);
  --sidebar-shadow: 0 3px 17px rgba(0, 0, 0, 0.1);

  /* sizes */
  --text-xss: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-10xl: 10rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--clr-default);
  overflow-x: hidden;
}

/* Defaults styles */

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 1em;
  cursor: pointer;
  color: var(--clr-default);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

.section {
  margin-top: 10rem;
}

/* media querys > desktop */

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
