.blur:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.generic-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 731px;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-xl);
  color: var(--primary-text);
  padding: 48px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h1 {
      font-size: 30px;
      font-weight: 700;
      color: var(--primary-text);
    }

    & > svg {
      cursor: pointer;
    }
  }

  & > div:first-child {
    margin-bottom: 44px;
  }
}
