.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 16px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 620px;

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 12px 23px;
  cursor: pointer;

      svg {
        width: 18px;
      }
    }

    & p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding-left: 16px;
      border-left: 1px solid var(--border-color);
    }
  }
}

.filter-labels {
  display: flex;
  gap: 16px;
  color: var(--primary-text);
}
