.register-modal {
  width: 834px;

  & > h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  & .personal-details,
  & .contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0;
  }

  & > label {
    display: flex;
    justify-content: space-between;
    width: 292px;
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
  }

  & > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}
