.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 16px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 620px;

    & .filter {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: var(--container-color);
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius-md);
      padding: 12px 23px;
      cursor: pointer;

      svg {
        width: 18px;
      }
    }

    & p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding-left: 16px;
      border-left: 1px solid var(--border-color);
    }
  }
}

.filter-labels {
  display: flex;
  gap: 16px;
}

.patients-data {
  display: grid;
  grid-template-columns: 1000px 526px;
  column-gap: 24px;
  padding: 26px 0;
  width: 100%;

  & .patients-selection {
    display: flex;
    flex-direction: column;
    background-color: inherit;

    & > div:first-child {
      width: max-content;
      padding: 5px;
      background: var(--container-color);
      border-radius: var(--border-radius-md);

      & > button {
        padding: 6px 35px;
        border-radius: var(--border-radius-sm);
        font-size: 14px;
        font-weight: 500;

        &:hover,
        &.isActive {
          background-color: var(--border-color);
        }
      }
    }

    & > div:nth-child(2) div {
      display: flex;
      justify-content: space-between;
      margin: 12px 0;

      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      & select {
        color: var(--input-text);
        background-color: var(--input-bg-color);
      }

      & svg {
        width: 24px;
        cursor: pointer;
      }
    }

    & .patients-table {
      & tbody {
        display: block;
        overflow-y: scroll;
        height: 400px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none; /* Chrome */
        }
      }

      & tr {
        display: grid;
        justify-items: center;
        grid-template-columns: 140px repeat(3, 218px) 140px;
        background-color: var(--container-color);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-md);
        font-size: 16px;
        font-weight: 500;
        padding: 14px 32px;

        tbody & {
          margin-top: 8px;
          cursor: pointer;

          & td:last-child {
            justify-self: end;

            & > svg {
              visibility: hidden;
            }
          }

          &:hover {
            border: 1px solid var(--accent-color);

            & td:last-child > svg {
              visibility: visible;
            }
          }
        }
      }

      & td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        tbody &:not(:first-child) {
          color: var(--secondary-text);
        }

        thead & svg {
          cursor: pointer;
        }
      }
    }
  }

  & > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-md);
    width: 100%;
    height: 100%;
  }
}
