.sidebar {
  grid-area: sidebar;
  background-color: var(--container-color);
  border-right: 1px solid var(--border-color);
  padding-inline: 1.5rem;
  max-width: 250px;
  width: 250px;
  transition: 0.1s ease-in;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  position: relative;
  font-size: 2rem;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--accent-color);
  font-weight: 900;
  padding: 0.5rem 0.5rem;
  margin-top: 2px;
  gap: 1rem;

  span {
    font-size: 1rem;
  }
}

.toggle {
  position: absolute;
  right: -35px;
  cursor: pointer;
  color: var(--primary-text);
  opacity: 0.75;
}

.sidebar-compact {
  grid-area: sidebar;
  background-color: var(--container-color);
  border-right: 1px solid var(--border-color);
  padding-inline: 10px;
  max-width: 70px;
  width: 70px;
  transition: 0.1s ease-in;
}

.logo-compact {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  color: var(--accent-color);
  font-weight: 900;
  margin-top: 1rem;
}

.toggle-compact {
  position: absolute;
  top: 2.5px;
  right: -45px;
  cursor: pointer;
  color: var(--primary-text);
  opacity: 0.75;
}
