.container {
  grid-area: header;
  padding-inline: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--container-color);
  border-bottom: 1px solid var(--border-color);
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1.25rem;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  svg {
    cursor: pointer;
    width: 1.25rem;
  }
}
