.patients-data {
  display: flex;
  height: 550px;
  margin-top: 26px;
  gap: 24px;

  & .patients-selection {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;

    & > div:first-child {
      width: max-content;
      height: 40px;
      padding: 5px;
      background: var(--container-color);
      border-radius: var(--border-radius-md);

      & > button {
        padding: 6px 35px;
        height: 100%;
        border-radius: var(--border-radius-sm);
        font-size: 14px;
        font-weight: 500;

        &:hover,
        &.isActive {
          background-color: var(--border-color);
        }
      }
    }

    & > div:nth-child(2) div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 34px;
      margin: 16px 0;

      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        font-weight: 500;
      }

      & select {
        color: var(--input-text);
        background-color: var(--input-bg-color);
      }

      & svg {
        width: 24px;
        height: 40px;
        cursor: pointer;
      }
    }

    & .patients-table {
      width: 100%;

      & thead {
        & tr {
          padding-right: 3.5rem;
        }
      }

      & tbody {
        margin-top: 10px;
        display: block;
        overflow-y: auto;
        max-height: 350px;
        padding-right: 1rem;

        &::-webkit-scrollbar {
          width: 15px;
        }

        &::-webkit-scrollbar-track {
          background: var(--container-color);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--border-color);
          border-radius: 10px;
        }
      }

      & tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--container-color);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-md);
        font-size: 16px;
        height: 34px;
        padding-inline: 25px;

        & td:first-child {
          justify-content: start;
        }

        & td:last-child {
          width: 100px;
        }

        tbody & {
          height: 62px;
          margin-top: 8px;
          cursor: pointer;

          & td:last-child {
            z-index: 1;

            & > svg {
              display: none;
            }

            & button:hover {
              opacity: 0.5;
            }
          }

          &:hover {
            border: 1px solid var(--accent-color);
          }
        }
      }

      & td {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 200px;

        tbody &:not(:first-child) {
          color: var(--secondary-text);
        }

        thead & svg {
          width: 15px;
          cursor: pointer;
        }
      }
    }
  }

  & > aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-md);
    width: 100%;
    height: 100%;
  }
}

.loading {
  width: 100%;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);

  & td {
    width: 100% !important;
    height: 30px;
    border-radius: var(--border-radius-md);
    background-color: var(--border-color);
    animation: fadeIn 1.5s ease-in-out infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
